.dossier__container {
  $topBarHeight: 3.6em;
  width: 100vw;
  height: calc(100vh - $topBarHeight);
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  .dossier__sidebar {
    width: 16em;
  }
  .dossier__content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
